body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  
}

.numberCircle {
    border-radius: 50%;
    width: 68px;
    font-size: 32px;
    border: 4px solid #666;
}
.numberCircle span {
    text-align: center;
    line-height: 60px;
    display: block;
    color: #666;
    transition: all 150ms;
}

.timer-text {
    font-size: xx-large;
}

.hover-highlight {
    transition: all 200ms;
}
.hover-highlight:hover {
    background-color: #EEE;
    transition: all 200ms;
}

.answer-option {
    margin: 16px 0px;
    padding: 8px 5px 5px;
}

#score {
  font-size: 3em;
  margin-top: -10px;
}
#reward-tag {
  transform-style: preserve-3d;
  position: absolute;
  display: none;
  top: -20px;
  left: 50%;
  transform: translateX(-50%) translateY(820%);
  font-size: 1em;
}

#streak {
    font-size: 42px;
    font-weight: bolder;
    color: #ffc107;
    transition: all 150ms;
    text-anchor: middle;
    margin-top: -10px;
}
#streak span {
    transition: all 150ms;
}
#streak div {
    color: initial;
    font-size: 33%;
    font-weight: 300;
}

.result-percent {
    font-size: 400%;
    font-weight: 500;
}

.result-score {
    font-size: 300%;
    font-weight: 500;
}

.center-div {
    display: table;
    margin: 0 auto;
}

.result-text-big {
    margin-top: 0.5em;
    font-size: large;
    font-weight: normal;
}
.result-small-text {
    font-size: larger;
}
.result-small-gauge-text {
    font-size: xx-large;
}

.center-ul {
    text-align: center;
}

.center-ul ul {
    list-style: none;
}