@model List<int>
@using GeoQuiz.Database.DatabaseClasses

@{
    GeoDBDataContext db = new GeoDBDataContext();
    string[] continents = { "EU", "AS", "AF" };     // There are no non-sovereign countries in Americas and Oceania
    string[] continentNames = { "Europe", "Asia", "Africa" };
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="modal-title text-center">Included non-sovereign countries</h3>
        </div>
        <div class="modal-body">
            <div id="non-sovereign-list" class="row vdivide equal-height-children">
                @for (int i = 0; i < continents.Length; i++)
                {
                    <div id="non-sovereign-@continents[i]" class="col-sm-4 non-sovereign-col">
                        <h4 class="text-center">@continentNames[i]</h4>
                        @foreach (Country c in db.Countries.Where(x => !x.IsSovereign && x.Continent == continents[i]))
                        {
                            <div class="checkbox">
                                <label>
                                    <input @(Model.Contains(c.Id) ? "checked" : null) type="checkbox" value="@c.Id">
                                    @c.Name
                                </label>
                            </div>
                        }
                        <button id="select-all-btn-@continents[i]" class="btn btn-primary btn-sm bottomaligned" type="button">Derp</button>
                    </div>
                }
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" style="margin:0px 10px 10px">Ok</button>
        </div>
    </div>
</div>